[Desktop Entry]
Version=1.0
Type=Application
Name=beekeeper-qt
Comment=Manage Beesd deduplication engine
Exec=beekeeper-qt
Icon=text-plain
Terminal=false
Categories=Utility;System;
StartupNotify=true